<h3 id="hiddenmsg">
  <%= typeof hiddenMessage !== 'undefined' ? hiddenMessage : '' %>
</h3>
<main>
  <div id="product-container" class="product-grid">
    <%- typeof productCards !== 'undefined' ? productCards : '' %>
  </div>

  <!-- Comment Section -->
</main>
