<header class="main-header">
  <nav class="navbar">
    <a href="/" class="logo">
      <img src="/base-images/favicon.png" alt="GatherInfo Logo" />
      <span>GatherInfo</span>
    </a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/post">Products</a></li>
      <li><a href="/contact">Contact</a></li>
      <% if (isLoggedIn) { %>
      <li><a href="/user/logout" class="nav-btn">Logout</a></li>
      <% } else { %>
      <li><a href="/user/login" class="nav-btn">Login</a></li>
      <li><a href="/user/signup" class="nav-btn signup">Sign Up</a></li>
      <% } %>
    </ul>
  </nav>
</header>
