<header class="main-header">
  <div class="header-content">
    <a href="/" style="text-decoration: none; color: white">
      <h1>GatherInfo</h1>
    </a>
    <p>Your one-stop destination for everything</p>
    <nav class="main-nav">
      <a href="/api/contacts">Contacts</a>
      <a href="/about">About Me</a>
      <a href="/post">Post</a>
      <% if (!isLoggedIn) { %>
      <a href="/user/signup">Sign Up</a>
      <a href="/user/login">Login</a>
      <% } else { %>
      <a href="/user/logout">Logout</a>
      <% } %>
    </nav>
  </div>
</header>
