<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gather Product</title>
    <link rel="icon" href="/base-images/favicon.png" />
    <link rel="stylesheet" href="/home/style.css" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-60DHQDCMW1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-60DHQDCMW1');
    </script>
  </head>
  <body>
    <header class="main-header">
      <div class="header-content">
        <a href="/" style="text-decoration: none; color: white">
          <h1>GatherInfo</h1>
        </a>
        <p>Your one-stop destination for everything</p>
        <nav class="main-nav">
          <a href="/api/contacts">Contacts</a>
          <a href="/about">About Me</a>
          <a href="/post">Post</a>
        </nav>
      </div>
    </header>

    <div class="product-title">{%PRODUCT_NAME%}</div>
    <div class="product-row">
      <div class="product-image-box">
        <img src="/productImage/{%PRODUCT_IMAGE%}" alt="Image" />
      </div>
      <div class="ad-space" style="display: none">Ad Space</div>
    </div>
    <div class="product-description-row">{%PRODUCT_DETAILS%}</div>

    <footer>
      <p>&copy; 2023 Gather Product. All rights reserved.</p>
    </footer>
  </body>
</html>
